.hero {
  background-image: url("./assets/bank-tree.webp");
  background-position: 0 -50px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
}
.hero .hero-content {
  position: relative;
  top: 2rem;
  width: 200px;
  background: white;
  padding: 2rem;
  text-align: left;
  margin: 0 auto;
}
.hero .hero-content .subtitle {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}
.hero .hero-content .text {
  margin-bottom: 0;
  font-size: 0.9rem;
}
@media (min-width: 920px) {
  .hero {
    height: 400px;
    background-position: 0% 33%;
  }
  .hero .hero-content {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 300px;
    margin: 2rem;
  }
  .hero .hero-content .subtitle {
    font-size: 1.5rem;
  }
  .hero .hero-content .text {
    font-size: 1.2rem;
  }
}

.features {
  display: flex;
  flex-direction: column;
}
@media (min-width: 920px) {
  .features {
    flex-direction: row;
  }
}
.features .feature-icon {
  width: 100px;
  border: 10px solid #00bc77;
  border-radius: 50%;
  padding: 1rem;
}
.features .feature-item {
  flex: 1;
  padding: 2.5rem;
}
.features .feature-item .feature-item-title {
  color: #222;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.bg-dark {
  background-color: #12002b;
  padding-top: 3rem;
}
.bg-dark .sign-in-content {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 0 auto;
  padding: 2rem;
}
.bg-dark .sign-in-content .sign-in-icon {
  font-size: 1rem;
}
.bg-dark .sign-in-button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  cursor: pointer;
}
.bg-dark .input-remember {
  display: flex;
}
.bg-dark .input-remember label {
  margin-left: 0.25rem;
}
.bg-dark .input-remember input {
  cursor: pointer;
}
.bg-dark .input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}
.bg-dark .input-wrapper label {
  font-weight: bold;
}
.bg-dark .input-wrapper input {
  padding: 5px;
  font-size: 1.2rem;
}

.bg-dark {
  background-color: #12002b;
}
.bg-dark .header {
  color: #fff;
  margin-bottom: 2rem;
}
.bg-dark .header .edit-button {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}
.bg-dark .account-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 2rem;
}
.bg-dark .account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: left;
}
.bg-dark .account-amount {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}
.bg-dark .account-amount-description {
  margin: 0;
}
.bg-dark .account-title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
}
.bg-dark .account-content-wrapper {
  width: 100%;
  flex: 1;
}
.bg-dark .transaction-button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  cursor: pointer;
}
@media (min-width: 720px) {
  .bg-dark .account {
    flex-direction: row;
  }
  .bg-dark .account-content-wrapper.cta {
    flex: 0;
  }
  .bg-dark .transaction-button {
    width: 200px;
  }
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}
.main-nav a {
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
  margin-right: 0.5rem;
}
.main-nav a:hover {
  text-decoration: underline;
}
.main-nav a.nav-link-exact-active {
  color: #42b983;
}
.main-nav .main-nav-logo {
  display: flex;
  align-items: center;
}
.main-nav .main-nav-logo-image {
  max-width: 100%;
  width: 200px;
}
.main-nav .main-nav-item {
  text-decoration: none;
  margin-right: 0.5rem;
}
.main-nav .main-nav-item:hover {
  text-decoration: underline;
}
.main-nav .main-nav-item i {
  margin-right: 0.5rem;
}

.footer {
  display: flex;
  justify-content: center;
  border-top: 2px solid #ccc;
  padding: 2rem 0 1.5rem;
}
.footer .footer-text {
  margin: 0;
  padding: 0;
}

.edit-form {
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.edit-form .form-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.edit-form .form-group label {
  margin-right: 10px;
  width: 200px;
  color: #fff;
}
.edit-form .form-group input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 170px;
}
.edit-form .form-group .input-not-allowed {
  cursor: not-allowed;
}
.edit-form .form-btn {
  display: flex;
  height: 40px;
  gap: 15px;
  margin-top: 30px;
}
.edit-form .form-btn button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.edit-form .form-btn .form-btn-save {
  background-color: #00bc77;
}
.edit-form .form-btn .form-btn-save:hover {
  background-color: #005834;
}
.edit-form .form-btn .form-btn-cancel {
  background-color: #ccc;
  color: #333;
}
.edit-form .form-btn .form-btn-cancel:hover {
  background-color: #999;
}

html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  min-height: 75vh;
}

/*# sourceMappingURL=main.css.map */
